.font1 {
  font-family: "Poppins", sans-serif;
}
.font2 {
  font-family: "Inter", sans-serif;
}

/* Header */

.header {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #707070;
  font-size: 18px;
  font-weight: 500;
}
.nav-input {
  border: none;
  background-color: #f1f1f1;
  padding: 16px;
  outline: none;
  width: 600px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
}
.search {
  position: relative;
  right: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}
.search:hover {
  transform: scale(1.08);
  background-color: #dadada;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Banner */

.banner {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feeae9;
  padding: 40px 46px;
  border-radius: 30px;
}
.banner-title {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 0px;
}
.banner-description {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 480px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.banner-price {
  font-size: 40px;
  font-weight: 600;
  color: #ff136f;
  margin-top: 20px;
  margin-bottom: 0px;
}
.buy {
  border: none;
  background-color: #ff136f;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 30px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 7px;
}
.buy:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.banner-img {
  width: 500px;
}

/* main */

.main {
  max-width: 1400px;
  margin: 0 auto;
}

/* Catagories */

.catagorie {
  margin-top: 64px;
}
.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
}
.categorie-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.categorie-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 85px;
  border-radius: 10px;
  cursor: pointer;
}
.categorie-cart:hover {
  transform: scale(1.05);
  transition-duration: 0.4s;
}
.cart-title {
  font-size: 36px;
  font-weight: 600;
  margin-right: 76px;
  color: white;
}
.cart-img {
  width: 98px;
}
.c1 {
  background-color: #ff9c35;
}
.c2 {
  background-color: #ff589b;
}
.c3 {
  background-color: #3f07f8;
}

/* Shoes */

.shoes {
  margin-top: 60px;
}
.shoes1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shoes-title {
  font-size: 36px;
  font-weight: 600;
}
.shoes-description {
  color: #ff9d00;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.shoes-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.cart-1 {
  padding: 24px 26px;
  border-radius: 15px;
  box-shadow: 0px 1px 2px black;
}

.cart-1-img {
  width: 340px;
  margin: 0 auto;
}
.shoes-cart-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 0px;
}
.shoes-cart-description {
  text-align: center;
  line-height: 30px;
  color: #4e4e4e;
  margin-top: 16px;
  margin-bottom: 0px;
}
.shoes-price {
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;
  text-align: center;
  margin-bottom: 0px;
}
.now-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.now {
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 30px;
  margin-top: 0 auto;
  cursor: pointer;
  border-radius: 7px;
}
.now:hover {
  transform: scale(1.05);
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.cart-2-img {
  height: 250px;
  width: 340px;
  margin: 0 auto;
}

.footer {
  background-color: #fff2f1;
  margin-top: 70px;
}
.foot {
  max-width: 1400px;
  margin: 0 auto;
  padding: 140px 0px;
}
.foot-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
}
.foot-subtitle {
  font-size: 16px;
  color: #707070;
  margin-top: 4px;
  font-weight: 400;
  text-align: center;
}
.foot-feild {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email {
  width: 400px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  border: none;
  padding: 20px 35px;
  outline: none;
}
.submit {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 18px;
  font-weight: 400;
  background-color: #ff136f;
  border: none;
  padding: 20px 35px;
  color: white;
  cursor: pointer;
}
