.font1 {
  font-family: "Poppins", sans-serif;
}
.font2 {
  font-family: "Inter", sans-serif;
}

/* Header */

.header {
  max-width: 1400px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #707070;
  font-size: 18px;
  font-weight: 500;
}
.nav-input {
  border: none;
  background-color: #f1f1f1;
  padding: 16px;
  outline: none;
  width: 600px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
}
.search {
  position: relative;
  right: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}
.search:hover {
  transform: scale(1.08);
  background-color: #dadada;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
